#fun-fact {
  background-color: rgb(151, 229, 151);
  height: 200px;
  border-radius: 10px;
  padding: 10px;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: rgb(164, 164, 239);
  height: 150px;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
}
