.background-img {
  background-image: url('background-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-main {
  padding: 50px 30px;
}

.hero-text {
  width: 75vw;

  h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px gray;
  }

  p {
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
  }

  .my-btn {
    color: white;
    font-weight: 500;
  }
}

.cards-container {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.home-card {
  background-color: $OJ-background-color;
  opacity: 0.92;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px $OJ-primary-light;
  border-radius: 10px;
  i {
    font-size: 4rem;
    padding-right: 20px;
    color: $OJ-primary;
  }
}
