#profile-container {
  margin: 40px;
  text-align: center;
  padding: 30px;

  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $OJ-primary;
    margin: 30px auto;
  }
}
