<div class="m-4">
  <%= link_to saved_items_path, class: 'text-decoration-none me-3' do %>
    <i class="fa-solid fa-chevron-left fs-4 text-OJ-text-main"></i>
  <% end %>

  <div class="saved-item-card mt-3">
    <p class="word-french fs-5 mb-2"><%= @phrase.french %></p>
    <hr>
    <p class="word-english fs-5 mb-0"><%= @phrase.english %></p>
  </div>
</div>
<%= render "shared/bottom_navbar" %>
