<nav class="navbar navbar-expand-md navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "OnJase_logo.png", alt: "OnJase logo" %>
    <% end %>

    <%= link_to "Login", new_user_session_path, class: "my-nav-link" %>
  </div>
</nav>
