<div class='m-4'>
  <h1 class="page-title">BEATA 9000</h1>

  <div class="chat-list">
    <ul class="list-unstyled p-0">
      <% if @chats.any? %>
        <% @chats.reverse.each do |chat| %>
          <li class="py-2">
            <%= link_to chat.title, chat_path(chat), class: "text-decoration-none text-OJ-text-main fw-bold" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div>
    <%= button_to chats_path, class: 'plus-button new-chat-btn border-0 p-0' do %>
      <i class="fa-regular fa-square-plus"></i>
    <% end %>
  </div>

</div>
<%= render "shared/bottom_navbar" %>
