
<div class='m-5'>
  <div id="fun-fact">
    <h4>Fun Fact</h4>
  </div>

  <div class="card-container">
  <%= link_to flashcards_path do %>
    <div class="card-dashboard">
      <h4>Flashcards</h4>
    </div>
  <% end %>
</div>
<%= render "shared/bottom_navbar" %>

<%= link_to flashcards_path do %>
  <!-- purple box HTML -->
<% end %>
