
<div class='main-container'>
  <div id="fun-fact">
    <h4>Fun Fact</h4>
  </div>

  <div class="card-container">
    <div class="card">
      <h4>Flashcards words</h4>
    </div>
    <div class="card">
      <h4>Flashcards phrases</h4>
    </div>
  </div>
</div>
<%= render "shared/bottom_navbar" %>
