<div class="background-img">
  <%= render "shared/navbar" %>

  <div class="container-main">
    <div class='hero-text'>
      <h2>Learn Québécois French through real conversations</h2>
      <p>OnJase helps you speak real Québec French with confidence through authentic conversations, repetition, and culture.</p>
    </div>

    <div class='cards-container'>
      <div class='home-card'>
        <div>
          <i class="fa-solid fa-user-graduate" style="color: rgb(108, 99, 255);"></i>
        </div>
        <div>
          <strong>Learn Smarter</strong>
          <p>Backed by learnig psychology, real conversations and spaced repetytion.</p>
        </div>
      </div>

      <div class='home-card'>
        <div>
          <i class="fa-solid fa-user-graduate" style="color: rgb(108, 99, 255);"></i>
        </div>
        <div>
          <strong>Language & Culture </strong>
          <p>Discover Québécois humor, habits, traditions, and everyday life while building confidence.</p>
        </div>
      </div>
    </div>
  </div>
</div>
