<div class="background-img">
  <%= render "shared/navbar" %>

  <div class="container-main">
    <div class="hero-text">
      <h2 class="hero-title">Master French the way it’s actually spoken.</h2>
      <p>OnJase helps you speak real Québec French with confidence through authentic conversations,
        repetition, and culture.</p>
    </div>
    <div class="cards-container">
      <div class="home-card">
        <div>
          <i class="fa-solid fa-brain"></i>
        </div>
        <div>
          <strong>Learn Smarter</strong>
          <p>
            Built on learning psychology, spaced repetition, and real conversational patterns.
          </p>
        </div>
      </div>

      <div class="home-card">
        <div>
          <i class="fa-solid fa-earth-americas"></i>
        </div>
        <div>
          <strong>Language & Culture</strong>
          <p>
            Explore Québécois humor, expressions, and everyday life while building natural fluency.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
