<div class='main-container'>
  <h1>User conversations list</h1>
  <div>
    <%= link_to new_user_conversation_path, class: 'plus-button' do %>
    <i class="fa-regular fa-square-plus"></i>
    <% end %>
  </div>
</div>
<%= render "shared/bottom_navbar" %>
