<div class='main-container'>
  <h1>User conversations list</h1>
  <div>
    <%= link_to new_user_conversation_path do %>
      <i class="fa-solid fa-circle-plus"></i>
    <% end %>
  </div>
</div>
<%= render "shared/bottom_navbar" %>
