<div class='m-4'>
  <h1 class="page-title">Messages</h1>

  <%= turbo_stream_from "user_conversations_user_#{current_user.id}" %>

  <div class="conversation-list">
    <ul id="conversations" class="list-unstyled p-0">
      <% @user_conversations.each do |conversation| %>
        <%= render 'conversation', conversation: conversation %>
      <% end %>
    </ul>
  </div>

  <div>
    <%= link_to new_user_conversation_path, class: 'plus-button' do %>
      <i class="fa-regular fa-square-plus"></i>
    <% end %>
  </div>
</div>
