<div class='m-5'>
  <%= link_to user_conversations_path do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>
<h1>New User Conversation </h1>

<%= simple_form_for @user_conversation do |f| %>
  <%= f.input :user_id_2 %>
  <%= f.button :submit %>
<% end %>

</div>
