.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.my-nav-link {
  display: block;
  text-decoration: none;
  color: $OJ-primary;
  font-size: 1.3rem;
  font-weight: 400;
  margin-right: 20px;
}
