.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.my-nav-link {
  display: block;
  color: $OJ-primary;
  font-size: 1.3rem;
  margin-right: 20px;
}
